#services
{
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}
.sub-title
{
  text-align: center;
  font-size: 60px;
  padding-bottom: 70px;
}
.sub-title span
{
  color: #0ef;
}
.container
{
  padding: 90px;
}
.services-list
{
  display:  grid;
  grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div
{
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  font-weight: 13px;
  border-right: 10px;
  border-radius: 20px;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px 1px #012290f7,
            1px 1px 40px #0053b8f7;
}
.services-list div i
{
  font-size: 50px;
  margin-bottom: 30px;
}
.services-list div h2
{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div a
{
  text-decoration: none;
  color: #000;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.read
{
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ef,
  0 0 25px #0ef;
}
.read:hover
{
  background: #0ef;
  color: #081b29;
  box-shadow: 0 0 20px #0ef;
}
.services-list div:hover
{
  transform: translateY(-10px);
}



